<nav class="navbar navbar-default" style="height:65px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <p class="hidden-lg hidden-md">{{getTitle()}}</p>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li onCLick="$('#paymentModal').modal('show')">
                    <a class="pointer">
                       <p>+ Make payment</p>
                    </a>
                </li>
                <li>
                    <a (click)="account.logOut()" [routerLink]="['/login']">
                        <p>Log out</p>
                    </a>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>
        </div>
    </div>
</nav>

